body {
  font-family: 'Poppins', sans-serif;
}

.banner-img {
  height: 750px;
  object-fit: cover;
  border-radius: 10px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.detail-img {
  max-height: 500px;
  object-fit: cover;
}
